
   <!-- ==============百度编辑器载入  开始==================== -->
    <!--&lt;!&ndash; 配置文件 &ndash;&gt;-->
    <!--<script type="text/javascript" src="__PUBLIC__/Admin/editor/ueditor.config.js"></script>-->
    <!--&lt;!&ndash; 编辑器源码文件 &ndash;&gt;-->
    <!--<script type="text/javascript" src="__PUBLIC__/Admin/editor/ueditor.all.js"></script>-->
   <!-- ==============百度编辑器载入  结束==================== -->
   <!--简单纯净版本，zzy-->
   <script type="text/javascript" charset="utf-8" src="__JS__/jquery-3.2.1.min.js"></script>
   <script type="text/javascript" charset="utf-8" src="/ueditorzzy/ueditor.config.js"></script>
   <!--<script type="text/javascript" charset="utf-8" src="/ueditorzzy/ueditor.config.min.js"></script>-->
   <script type="text/javascript" charset="utf-8" src="/ueditorzzy/ueditor.all.js"> </script>

   <script type="text/javascript" charset="utf-8" src="/ueditorzzy/lang/zh-cn/zh-cn.js"></script>



