<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!--上传图片用的css-->
    <link href="__geren__/load.css" type="text/css" rel="stylesheet"/>
    <!--禁用iPhone手机浏览器上给电话号码自动加上的link样式-->
    <meta name="format-detection" content="telephone=no">
    <script type="text/javascript" src="__geren__/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="__geren__/jquery.glide.js"></script>
    <link href="__geren__/aqtPublic.css" type="text/css" rel="stylesheet"/>
    <link href="__geren__/gerenzhongxin.css" type="text/css" rel="stylesheet"/>
    <link href="__geren__/font/iconfont.css" type="text/css" rel="stylesheet"/>
    <link href="__geren__/shiliang/iconfont.css" type="text/css" rel="stylesheet"/>
    <title>微信</title>
</head>
<body style="background: #f7f7f7">
<div class="clear"></div>
<div class="aqt-grxx">
    {include file="userhead"/}

    <script>
        $("#file0").change(function () {
            var objUrl = getObjectURL(this.files[0]);
            obUrl = objUrl;
            console.log("objUrl = " + objUrl);
            if (objUrl) {
                $("#img0").attr("src", objUrl).show();
            }
            else {
                $("#img0").hide();
            }
        });
        $("#file1").change(function () {
            var objUrl = getObjectURL(this.files[0]);
            obUrl = objUrl;
            console.log("objUrl = " + objUrl);
            if (objUrl) {
                $("#img0").attr("src", objUrl).show();
            }
            else {
                $("#img0").hide();
            }
        });

        function setImagePreview($this) {
            var path = window.URL.createObjectURL($this.files[0]);
            $($this).parent().parent('li').find('.img').attr('src', path)
        }

        function getObjectURL(file) {
            var url = null;
            if (window.createObjectURL != undefined) { // basic
                url = window.createObjectURL(file);
            } else if (window.URL != undefined) { // mozilla(firefox)
                url = window.URL.createObjectURL(file);
            } else if (window.webkitURL != undefined) { // webkit or chrome
                url = window.webkitURL.createObjectURL(file);
            }
            return url;
        }

        var subUrl = "";
        $(".file-0").bind('change', function () {
            subUrl = $(this).val();
            $(".yulan0").show();
            $(".file-0").val(subUrl);
        });

        //        $("#btn-0").click(function () {
        //            $("#touxiang a").css('display','none');
        //            $("#img-0").show();
        //            $("#img-0").attr("src", obUrl);
        //            $("#btlogin").submit();
        //            $("form").submit();
        //            $(".yulan0").hide();
        //        });

        //点击取消
        $(".btn-2").click(function () {
            $(".yulan0").hide();
        });
    </script>
</div>
<form action="{:Url('index/gerenxiugai')}" method="post" id="form1" >
<ul class="grxxxg">
    <li>名称<input type="text" value="{$user.username}" name="username" placeholder="请输入名称"/></li>
    <li>电话<input type="text" value="{$user.tel}" name="tel" id="tel" placeholder="请输入电话"/></li>
    <li>邮箱<input type="text" value="{$user.email}" name="email" id="email" placeholder="请输入邮箱"/></li>
    <input type="hidden" name="id" value="{$user.manid}"/>
    <!--防止更新数据后头像被制空-->

</ul>
<div style="width: 100%; height: 3.8rem;"></div>


<div class="clear"></div>
<div class="aqt-foot1">
    <a>
        <button id="bus" class="aqt-gouwuche">确认修改</button>
    </a>
</div>
</form>
<script type="text/javascript" async="" src="__PUB__/is_img.js"></script>

<script>
    $(function() {
        $('#bus').click(function(){

            /*手机验证*/
            var sjh = $("#tel").val();
            reg = /^1[3|4|5|8][0-9]\d{4,8}$/i;
            if (sjh == "") {
                alert('您没有填写手机号码，请重新填写！');
                return false;
            } else if (sjh.length < 11) {
                alert('您输入的手机号码有误，请重新填写');
                return false;
            } else if (!reg.test(sjh)) {
                alert('您输入的手机')
            }
        })
    })
</script>
</body>
</html>
