

    <!--<link href="/static/admin/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">-->
    <!--&lt;!&ndash;<link href="/static/admin/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">&ndash;&gt;-->
    <!--<link href="/static/admin/css/font-awesome.css" rel="stylesheet">-->
    <!--<link href="/static/admin/css/animate.min.css" rel="stylesheet">-->
    <!--<link href="/static/admin/css/plugins/iCheck/custom.css" rel="stylesheet">-->
    <!--<link href="/static/admin/css/plugins/chosen/chosen.css" rel="stylesheet">-->
    <!--<link href="/static/admin/css/plugins/switchery/switchery.css" rel="stylesheet">-->
    <!--<link href="/static/admin/css/style.min.css?v=4.1.0" rel="stylesheet">-->
    <!--<link href="/static/admin/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">-->
    <link rel="stylesheet" href="__geren__/shiliang/demo.css">

    <link href="/static/admin/js/plugins/layui/css/layui.css" rel="stylesheet">
