<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <title>徐蔚海医生_神经科_北京协和医院_来问丁香医生</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="baidu-site-verification" content="2R4zxUqZZU" />
    <meta name="keywords" content="徐蔚海,徐蔚海医生,徐蔚海个人网站,徐蔚海徐蔚海,北京协和医院徐蔚海,来问丁香医生" />
    <meta name="description" content="徐蔚海医生医术怎么样，微信在线咨询。徐蔚海医生个人简介：男，北京协和医院神经科主任医师；任职于北京协和医院，全国最佳医..."/>
    <meta name="copyright" content="丁香园网站-观澜网络（杭州）有限公司技术支持">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="google-site-verification" content="j4dW_q1WJ86iB0CW4DEMCrcP53LY0O0gqJfnxklmR_M" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <!--[if lt IE 10]>
    <script src="https://assets.dxycdn.com/third-party/console-fix.js?t=1514344883593"></script>
    <script src="http://assets.dxycdn.com/third-party/media-match/media.match.min.js?t=1514344883593"></script>
    <![endif]-->

    <!--[if lt IE 9]>
    <script src="http://assets.dxycdn.com/third-party/json3.min.js?t=1514344883593"></script>
    <script src="http://assets.dxycdn.com/third-party/es5-shim/es5-shim.js?t=1514344883593"></script>
    <script src="http://assets.dxycdn.com/third-party/es5-shim/es5-sham.js?t=1514344883593"></script>
    <script src="http://assets.dxycdn.com/third-party/html5shiv/3.7.0/html5shiv.js?t=1514344883593"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="https://assets.dxycdn.com/gitrepo/ask-seo/dist/style/main.min.css?t=1514344883593" charset="utf-8">

    <script src="https://assets.dxycdn.com/core/jquery/1.9.0-min.js"></script>
</head>
<body>
<header class="top">
    <div class="top__inner">
        <div class="img_wp top__logo">
            <img src="https://assets.dxycdn.com/gitrepo/ask-seo/image/logo_min.png">
        </div>        <div class="top__txt">
        <h3>来问丁香医生</h3>
        <p>用微信就能咨询专业医生</p>
    </div>
        <button type="button" id="j_followCode" class="button_plain top__button j-follow" onclick="ga('send', 'event', 'pcweb_profile', 'click', 'wechat_follow')">微信扫码关注</button>
    </div>
</header>
<!--医生二维码浮层-->
<div class="dialog__main" id="j_doctorDialog">
    <div class="dialog__inner">
        <div class="dia__header doctor">
            <div class="doctor__avatar">
                <div class="img_wp ">
                    <img src="https://img.dxycdn.com/avatars/128/ask/2016/06/11/14/6289900663512100978.jpg">
                </div>
                <i class="icon icon_vip"></i>
            </div>
            <div class="doctor__info">
                <h3 class="name">徐蔚海<span class="address">北京</span></h3>
                <div class="work">
                    <p>神经科&nbsp;主任医师</p>
                    <p>北京协和医院</p>
                </div>
            </div>
        </div>
        <div class="dia__qcode">
            <div class="img_wp">
                <img src="https://api.dxy.cn/qr-code/?size=10&margin=1&format=png&url="/>
            </div>
            <div class="dia__logo">
                <div class="top__logo">
                    <img src="https://assets.dxycdn.com/gitrepo/ask-seo/image/logo_min.png" />
                </div>
                <p>微信扫一扫二维码<br>关注「来问丁香医生」</p>
            </div>
        </div>
    </div>
    <div class="dialog__tip">
        <p>微信扫一扫二维码<br>关注「来问丁香医生」</p>
    </div>
</div>
<main>
    <div class="bg"></div>
    <section class="profile">
        <div class="profile__inner">
            <div class="profile__info doctor">
                <div class="doctor__avatar">
                    <div class="img_wp ">
                        <img src="https://img.dxycdn.com/avatars/128/ask/2016/06/11/14/6289900663512100978.jpg">
                    </div>
                    <i class="icon icon_vip"></i>
                </div>
                <div class="doctor__info">
                    <h3 class="name">徐蔚海<span class="address">北京</span></h3>
                    <div class="work">
                        <p>神经科&nbsp;主任医师</p>
                        <p>北京协和医院</p>
                    </div>
                </div>
                <div class="follow">
                    <a href="javascript://" class="follow__button j-followDoctor" onclick="ga('send', 'event', 'pcweb_profile', 'click', 'follow_doctor_10066');">加关注</a>
                    <p>2731人关注</p>
                </div>
            </div>
            <div class="profile__introduce">
                <p>任职于北京协和医院，全国最佳医院排名第一位。德国乌尔姆大学、美国迈阿密大学访问学者。世界神经病学联盟神经超声执委会委员。</p>
            </div>
            <div class="appraise">
                <div class="stars stars_5"></div>
                <span>118个回答</span><span>51人评价</span>
            </div>
            <button class="button button__ask j-askDoctor" onclick="ga('send', 'event', 'pcweb_profile', 'click', 'ask_up')">向该医生提问</button>
        </div>
    </section>

    <div class="question">
        <div class="question__title"><span>已回答公开问题</span></div>
        <section class="question__card">
            <div class="list" id="j_questionList">
                <a class="item" href="../ama/index.html#/explore/issue/1659051" onclick="ga('send', 'event', 'pcweb_profile', 'click', 'q_1659051')">
                    <p>医生你好，父亲60岁，上个月13号出现左边手脚无力，麻，17号在老家住院，18号转院到广东省人民医院，医院医生叫我们自己回去考虑是否做支架手术，麻烦医生能帮我看看检查的资料是否需要做手术。现在的状况是左边手脚自然不太灵活，左脚走路抬脚抬不高。</p>
                    <span>55人看过</span>
                </a>
                <a class="item" href="../ama/index.html#/explore/issue/1637467" onclick="ga('send', 'event', 'pcweb_profile', 'click', 'q_1637467')">
                    <p>基本情况:患者男59岁，之前感觉浑身无力，腿部明显感觉软弱无力，后住院确诊为脑梗，治疗方式为用药输液，第二天午睡时突然瘫侧一边，之后呕吐。拍片显示脑内出血200毫升，随后家属选择放弃开颅手术，放弃微创治疗，选择输液维持。截止目前已经两天半，患者期间有过发烧，目前退烧，处于昏迷状态。之前病人无高血压高血脂等病状。
                        问题:为什么会出现这种状况？下一步除了医院的正常输液应如何用药？目前这种状况有什么更好的建议？
                        谢谢大夫！！！！！！！！！！！</p>
                    <span>23人看过</span>
                </a>
                <a class="item" href="../ama/index.html#/explore/issue/1624830" onclick="ga('send', 'event', 'pcweb_profile', 'click', 'q_1624830')">
                    <p>徐医生，你好。我儿子今年三岁，1.于2015.11.6及2016.4.15出现高热抽搐，诊断为：化脓性脑膜炎。于2017.12.2日出现相同症状，抽取脑脊液诊断为：化脓性脑膜炎，现仍在治疗中。2.他患有：特应性皮炎右耳失聪（在湖南省儿童医院诊断）。3.从第一次发病以来，多次以肺炎（两次为重症肺炎），支气管炎，肠套叠？住院。4.氨基酸奶粉喂养，智力发音正常。5.他频繁发生脑膜炎，需要做什么检查？有没有隐藏的问题没有发现？</p>
                    <span>25人看过</span>
                </a>
                <a class="item" href="../ama/index.html#/explore/issue/1617916" onclick="ga('send', 'event', 'pcweb_profile', 'click', 'q_1617916')">
                    <p>徐主任您好，我老婆经常出现头疼的状况，而且是疼的特别厉害，每次疼都会持续一到两天，尤其是例假前后，每次都会疼的要呕吐，吐过之后头疼才会减轻，检查过几个医院，也没查出什么症状，请问我们应该检查什么项目才能确定是什么病呢？我们在苏州，这附近比如上海南京有什么特别合适的医院推荐吗？因为我们之前看过几家医院也没查出什么问题，挺急的，在线等。</p>
                    <span>37人看过</span>
                </a>
                <a class="item" href="../ama/index.html#/explore/issue/1093955" onclick="ga('send', 'event', 'pcweb_profile', 'click', 'q_1093955')">
                    <p>女，27周岁
                        1、后脑勺感觉钝钝的胀胀的，白天疲乏无力，极易陷入昏睡，常感焦虑
                        2、晚上睡眠不安稳，凌晨两点至五点间常被噩梦惊醒，感觉脑袋发热
                        3、记忆变差，头脑无力阅读和思考
                        4、喉咙口有堵住的感觉。且感觉有股气堵在胸口，无法完全呼出，有时严重有时缓解
                        5、嘴里无味
                        6、脸上总冒痘

                        以上除第6条，均从2012年六月持续至今。第6条为今年三月开始

                        12年六月至今看过多地精神科和心理咨询师，14年10月上海精神卫生中心诊断为重度抑郁和焦虑，开始服药，症状改善不明显。17年1月停药。药物：百忧解、草酸艾司西酞普兰片、舍曲林、度洛西汀、蓝释氟伏沙明
                        15年九月至16年六月休学在家，几乎整日昏睡
                        16年三月，上海同济脑部MR检查，正常
                        七月，杭州七院生化全套、脑电图、多普勒超声，正常。以睡眠障碍加中度抑郁住院一周治疗，睡眠略改善，其余症状未改善。药物：劳拉西泮、佐匹克隆、草酸艾司西酞普兰

                        17年二月颈椎CT，曲度略有变化
                        三月中医门诊，为气郁，中药1个月，效果不显著
                        五月中医科，为脏燥。中药2个月，前半月有效，后期效果不显著。6条症状仍未彻底改善

                        我究竟是何疾病？是否有脑部器质疾病？</p>
                    <span>14人看过</span>
                </a>
                <a class="item" href="../ama/index.html#/explore/issue/520625" onclick="ga('send', 'event', 'pcweb_profile', 'click', 'q_520625')">
                    <p>父亲81岁 3-4年前做过心脏支架 有高血压病史 血糖高好几年了。最近2-3个月一直觉得右腿发软，走路晃悠。3天前右腿疼痛，右手发麻，疼痛影响睡眠。昨天疼痛好一些，可以睡觉，但是右手拿碗筷无力，那笔写字发软，说话开始有些不清楚。晚饭后左嘴角有些歪。意识清楚。还可以走路。请问是不是中风前兆?  是否需要立即去医院? 和心脏支架的问题有关联吗？是应该挂哪一科的号呢?</p>
                    <span>56人看过</span>
                </a>
                <a class="item" href="../ama/index.html#/explore/issue/416046" onclick="ga('send', 'event', 'pcweb_profile', 'click', 'q_416046')">
                    <p>患者：女，72岁

                        症状：大脑里一直有仿佛在角落的虫子鸣叫的声音，睡眠困难。

                        检查：颈动脉、椎动脉血流通畅
                        头颅MR平扫，两侧半卵圆区缺血灶，鼻       咽部后壁增厚

                        请问徐教授：
                        1、脑鸣原因是什么？如何治疗和预防
                        2、缺血灶会有哪些后果，有办法日常预防吗？



                    </p>
                    <span>60人看过</span>
                </a>
                <a class="item" href="../ama/index.html#/explore/issue/394614" onclick="ga('send', 'event', 'pcweb_profile', 'click', 'q_394614')">
                    <p>徐医生您好，感谢您百忙之中抽时间回答。我外婆高血压的药最近吃完了，去医院开药的时候顺便进行了体检，体检查出来一些问题，希望您能帮忙看一下情况是否严重。

                        【患者现状】
                        性别：女
                        年龄：76
                        个人习惯史：抽烟数年
                        已确诊疾病：高血压、多发性腔隙性脑梗塞（详细诊断书请见图片1-3）
                        服药时间：5个月
                        服药种类：请见图片4
                        不舒服的部位及症状：
                        1. 双腿无力发麻：但是不影响走路。持续时间约有半年，当时以为是缺乏锻炼。
                        2. 眩晕：随机出现，有时候出门散步会突然有要跌倒的感觉
                        3. 口渴：不是很严重的口渴
                        备注：本次体检后，医生建议住院挂水9天，挂水使用的药物请见图片5

                        【问题】
                        1.接诊医生的诊断、所开挂水药物是否正确无误？
                        2.患者在服用的药物是否合适，有没有效果更好、副作用更小的同类药物？
                        3.患者是否还有其他潜在的风险或是徐医生您建议患者再进一步做些什么检查？

                        非常感谢您的回复！谢谢！</p>
                    <span>34人看过</span>
                </a>
                <a class="item" href="../ama/index.html#/explore/issue/381442" onclick="ga('send', 'event', 'pcweb_profile', 'click', 'q_381442')">
                    <p>徐医生：
                        您好！我母亲今年64岁，从30岁生产之后偶有眩晕，症状感觉房屋在转，但是次数不多。从2016年起开始加重，每天晨起开始眩晕。
                        在深圳和苏州各大医院都查过，均查不到原因。指标中，血压有点高，粥样斑块形成，但都在参数之内。一说是颈椎引起。配的药有可定，黛力新，尼达尔。服药后好转了几个月，今起服药后又眩晕。
                        请问有没有其他疾病的可能性？母亲现在心态也很差，今晨服药后未能见效加重了她本身因长期眩晕引发的焦虑症。
                        盼望徐医生在繁忙工作中拨冗回复。感谢！

                    </p>
                    <span>66人看过</span>
                </a>
                <a class="item" href="../ama/index.html#/explore/issue/277253" onclick="ga('send', 'event', 'pcweb_profile', 'click', 'q_277253')">
                    <p>年龄60岁女性，前天晚上开始后脑疼，半夜疼醒了。左耳后十厘米左右，像是神经痛，每分钟一两次，过血疼，按压痛，现在疼起来剧痛。白天吃的复方羊角片，刚吃了布洛芬。现在疼痛加剧，左半脸有热感。</p>
                    <span>53人看过</span>
                </a>
                <a class="item" href="../ama/index.html#/explore/issue/276638" onclick="ga('send', 'event', 'pcweb_profile', 'click', 'q_276638')">
                    <p>女，32岁，已育。
                        2015年11月开始，眩晕发作数次。医生诊断为耳石症，做过两次复位，效果不明显。后，每月发生至少2次严重的头疼伴随头晕，尤其到了晚上头晕恶心睡眠困难。每次经期前一天到经期第三天必会发作一次头疼伴随头晕。口服西比灵2个月期间，未发作过。停药5天后，又发生了头疼伴随头晕。
                        1.这是什么疾病，如何确诊。是否需要做脑部核磁共振？
                        2.西比灵有副作用，可以采用什么其他治疗手段？</p>
                    <span>63人看过</span>
                </a>
                <a class="item" href="../ama/index.html#/explore/issue/261839" onclick="ga('send', 'event', 'pcweb_profile', 'click', 'q_261839')">
                    <p>徐医生您好！麻烦抽空查看如下情况，帮忙给些建议，感谢！
                        1. 问题: 脑出血左侧偏瘫现状治疗及康复建议，康复时间把握。因为父亲第一次遇到该病情，对病症治疗及康复周期没有概念，烦请给予指导建议。
                        2. 性别: 男
                        3. 年龄: 57
                        4. 症状: 脑内出血约37ml，右侧基底节-颞叶区，左手暂无明显知觉，左脚能抬起。
                        5. 发生时间:2017年1月30日约凌晨3点。
                        6. 起因: 半夜起床上厕所摔倒，有提到当晚12睡前感觉手脚有麻木感，2小时送到医院CT检查17ml。
                        7. 已确诊疾病:有高血压史右脑出血引起左侧偏瘫，近两年有高血压但没有服降压药。
                        8. 当前情况: 已保守治疗20天，头脑意识清醒，右嘴角稍上翘，左侧口角进食稍有流食，左手暂无明显知觉，左脚可抬起，可搀扶慢提脚短距离行走。
                        9. CT检查及用药、抬脚情况照片如附件。</p>
                    <span>46人看过</span>
                </a>
                <a class="item" href="../ama/index.html#/explore/issue/258434" onclick="ga('send', 'event', 'pcweb_profile', 'click', 'q_258434')">
                    <p>徐医生您好：我06年时侯跟朋友在一起误吸冰毒，吸了以后就中毒到医院抢救、后来以后回家休息一段时间、身上肌肉就不停个跳动，毎时每刻都这样、现在算来有十多年了，在医院拍了肌电图检查也没问题、这种肌肉跳动折磨这么久，请问到底什么原因？</p>
                    <span>47人看过</span>
                </a>
                <a class="item" href="../ama/index.html#/explore/issue/256648" onclick="ga('send', 'event', 'pcweb_profile', 'click', 'q_256648')">
                    <p>您好医生，请问神经性脑吗耳鸣怎么治，我突发神经性脑袋响耳鸣两年了，刚开始做了各项检查，都没查出结果，药吃了一大堆，还是好，别人说神经性的可鸣脑呜看不好，所以放弃了，可是耳鸣严影响了的睡眠，现在我的睡眠时间越来越少，精神越来越差，已到了崩溃的边缘，医生请您帮我，我一是一个离婚女人，独自抚养三个女儿，我不能倒下，我的孩子们还小，请您帮我医生</p>
                    <span>72人看过</span>
                </a>
                <a class="item" href="../ama/index.html#/explore/issue/248863" onclick="ga('send', 'event', 'pcweb_profile', 'click', 'q_248863')">
                    <p>陈教授您好、我有血压高四年时间了、头痛、头晕四个月了。左天来医院查体结果是脑腔隙灶请问这个病严重吗？怎么治疗、注意什么？谢谢</p>
                    <span>297人看过</span>
                </a>
                <a class="item" href="../ama/index.html#/explore/issue/238721" onclick="ga('send', 'event', 'pcweb_profile', 'click', 'q_238721')">
                    <p>徐医生好，两年前踢球时感觉呼吸不畅，后来一直有这种感觉，并伴有头晕，头疼等不适，走路也变得有气无力，有几次难受的自己去急诊室，但都是休息一会就缓过来了，去医院做了各种检查，心脏彩超，胸透，验血，查肝等检查，都没有什么毛病，只有颈椎病，23，45位椎间盘突出，做了些理疗也没再管他，发病后，不敢集中精力，看视频当有激烈的地方就感觉头晕，闷气，有次会议中突然感觉透不过气，就想赶快找急救的感觉，但也是走动一会慢慢让他缓过来了，每天身体好像不是自己的，上下不通透，看过好多次医生，都说可能时神经官能症，植物神经紊乱，最后找中医调理，感觉没以前严重了，逐渐能比较正常了，但是从今年大概三四月份，因头有些晕，在急诊测血压，发现血压在140/90之间徘徊，这以后我就开始关注血压，期间也是因为头蒙用过两次24小时血压，平均值都正常，一次白天大概最高151/95，一次147/100，平时自己也经常测量，经常都是高压比较正常，低压在90左右徘徊，就在昨天晚上快6点得时候量了一次154/85，快七点的时候量了一次170/100,我赶紧去医院检查，七点50左右血压135/90,我心里好心烦，想问医生我该怎么办，谢谢</p>
                    <span>53人看过</span>
                </a>
                <a class="item" href="../ama/index.html#/explore/issue/184523" onclick="ga('send', 'event', 'pcweb_profile', 'click', 'q_184523')">
                    <p>徐大夫好，关于病后康复的种种疑问还得请教下您。我爸已经出院一周多了。目前的病后症状有吃东西无味觉，也吃不太多，好像嚼东西不很方便；说话慢，不太想说话，反应有点迟钝好像，怀疑是不是跟核磁报告上“脑白质脱髓鞘”有关（这点还请您给个专业的解释，核磁报告上的术语看起来都很令人担心）；肢体行动力没有改观，腿和手基本还是无力。加上他有神经官能症、抑郁症这些病，对他现在的病况、所处的状态和应该怎么努力无所知，看他痛苦犹如盲人骑瞎马。我这次想问的是他的脑神经的伤害程度是不是很严重，现在这些症状的意义，会不会继续恶化？我们应该怎么治？真诚得表示感谢。</p>
                    <span>51人看过</span>
                </a>
                <a class="item" href="../ama/index.html#/explore/issue/159301" onclick="ga('send', 'event', 'pcweb_profile', 'click', 'q_159301')">
                    <p>患者37岁，男，身体素质一直很好，没有既往病史，突感颈部落枕感十余天后，突发不能吞咽、头晕，头痛伴右侧肢体麻木，立即送院就医，入院后一直严重持续性呃逆，恶心、呕吐不止，神志清 、语言及四肢运动均可，右侧感觉功能较左侧障碍。核磁检查后医生怀疑脑干脑梗及椎动脉夹层，不能确定病因，CTA显示一侧椎动脉不显影，求治疗，谢谢
                    </p>
                    <span>119人看过</span>
                </a>
                <a class="item" href="../ama/index.html#/explore/issue/142118" onclick="ga('send', 'event', 'pcweb_profile', 'click', 'q_142118')">
                    <p>徐大夫，我爸有高血压。前天中午感觉头晕，半侧身子无力，当天夜里入市里医院。现在左胳膊还是不太能举动，左腿稍好点但力量尚歉，说话有一点咬舌头，口角稍有流诞，意识清晰。拍的脑部CT、磁共振、彩超，图片手机翻拍上传了。因为第一次遇到这个病，心里没底，对疾病轻重和预后一般情况都一无所知，还请您指点一下。谢谢。</p>
                    <span>493人看过</span>
                </a>
                <a class="item" href="../ama/index.html#/explore/issue/139496" onclick="ga('send', 'event', 'pcweb_profile', 'click', 'q_139496')">
                    <p>@（赵永）
                        大夫好，我患梅尼艾病二十年，急性发作时眩晕、呕吐、出汗、腹泻，特别难受，发作8小时左右后，睡一觉后会好些，只是轻微头晕（不旋转）没力气，略有恶心。曾经吃过地奥司明片、敏使朗、耳聋左慈丸、乌灵胶囊、蚓激酶。
                        另，我九月患甲状腺癌，做了甲状腺全部切除手术，在服用优甲乐，3片/天。双耳鸣30年、右耳听力减退。
                        请问您，急性发作时（眩晕 恶心 呕吐 站立不稳），应当“怎么处理”来缓解病痛？
                        （解放军301医院主任说最好不要输液，所以发作时一般不去医院）
                        （不着急，请您给予详细解答）谢谢您！谢谢！谢谢！</p>
                    <span>20人看过</span>
                </a>
                <a class="item" href="../ama/index.html#/explore/issue/113374" onclick="ga('send', 'event', 'pcweb_profile', 'click', 'q_113374')">
                    <p>徐主任你好，我今年48岁，女，今年出现头昏现象，特别是午休，躺下，一会儿就出现头晕，心胀难受，晚上躺在床上又出现头晕现象，心里害怕，一个人就怕昏过去死了的感觉，但是昏的时间就几秒中，经常冒汗、脸红，我是不是更年期啊！</p>
                    <span>517人看过</span>
                </a>
                <a class="item" href="../ama/index.html#/explore/issue/105659" onclick="ga('send', 'event', 'pcweb_profile', 'click', 'q_105659')">
                    <p>母亲今年46岁，3年前高血压引起脑出血，后来慢慢治疗好了，逐渐出现失眠现象，现在经常晚上7点睡觉，夜里12点就醒了，经常会出现打鼾，声音有时候会觉得呼吸停止了几秒那种。因为失眠会经常上火，嘴里溃疡。然后经常告诉我她眼珠特别硬，眼皮也硬，睁不开眼睛。我打算过年回去带她查一下，因为去年查过说眼底并没有什么，我还想带她再查一下。请问医生，我应该特别注意查哪些项目呢？平时生活(饮食，睡眠）需要注意一些什么？对了，她吃的药好像是硝苯地平缓释片，还有其它的吧。</p>
                    <span>81人看过</span>
                </a>
                <a class="item" href="../ama/index.html#/explore/issue/74268" onclick="ga('send', 'event', 'pcweb_profile', 'click', 'q_74268')">
                    <p>医生您好，我今年23岁，女，经期第二天。前天7点多站着做饭时觉得特别累，头空空的，晚上很困，好像头里面被不停搅动一样。昨天早上起来头后面像压了一样重，起来时候打喷嚏流鼻涕，下午看电脑工作时只要一思考头就一阵阵地痛，还像箍住了一样，还伴有头晕恶心之感，趴着要好一点，中间把头埋下去闭眼一会要好点，晚上下班回吃了点东西好多了。今天早上头又很重，像压住一样，虽然现在工作任务特别多，我们部门只有我一个人要负所有责任，我有时候焦虑有时候自责有时候担心，但是我还是选择休息半天，休息到10点好一些。上周有天雾霾严重时我头痛欲裂，不能坐下来，只能站着办公。前两天早上吃了凉的酸奶，这几天因为做工作表格的事每天12点睡的。5月份体检时测血压是正常的。请医生帮我看看这是什么原因的头痛呢，该怎么解决，谢谢!</p>
                    <span>92人看过</span>
                </a>
                <a class="item" href="../ama/index.html#/explore/issue/71007" onclick="ga('send', 'event', 'pcweb_profile', 'click', 'q_71007')">
                    <p>徐老师，我母亲四天前去公园里锻炼身体，不知道啥原因摔倒了，后脑着地，当时短暂昏迷，几分钟醒来后不认识我，去医院十分钟左右清醒了认识我了，当天呕吐了五六次，每次吐都是搬动她去检查的途中，第二天开始停止呕吐，现在四天了，脑壳痛，晕，睡眠也不好，吃止痛药也后半夜痛，她这种病症该手术还是保守治疗，今年79岁了，血压有点低，别的都好，平时无任何病，我把病历发出来给你看看。</p>
                    <span>32人看过</span>
                </a>
                <a class="item" href="../ama/index.html#/explore/issue/69957" onclick="ga('send', 'event', 'pcweb_profile', 'click', 'q_69957')">
                    <p>我刘雪君，43岁，41岁闭经一年，后来吃了气血和胶囊等药，来了一个月，后来刚好早几天去医院检查，闭经</p>
                    <span>40人看过</span>
                </a>
                <a class="item" href="../ama/index.html#/explore/issue/68906" onclick="ga('send', 'event', 'pcweb_profile', 'click', 'q_68906')">
                    <p>您好！男，49岁。舌头发麻8天，去南京江宁医院看神经内科。做头部MRI，头部没问题，但发现“左侧腮腺下方占位，建议行颈部MRI平扫+增强扫描协诊”。并推荐去省口腔医院检查。省口腔医院大夫用手摸了摸左腮，试了试舌头的痛觉（正常），说没问题，不用治疗。我问不治疗多长时间可恢复正常，回答:如果老想着，可能一直会觉得麻。请问我该听哪个大夫的？如何处置？如果腮后长东西，会引起舌头发麻吗？谢谢！</p>
                    <span>50人看过</span>
                </a>
                <a class="item" href="../ama/index.html#/explore/issue/65671" onclick="ga('send', 'event', 'pcweb_profile', 'click', 'q_65671')">
                    <p>25岁年轻女性.家族中有多人患结核病史.今年5月出现右侧肢体麻木无力.头晕.5
                        天后症状逐渐加重.行走不稳.右手不能持物.出现尿便障碍.行头颅.颈部MRI示上部颈髓病变.查常规生化基本正常.考虑急性脊髓炎.于武汉同济医院行甲泼冲击治疗症状好转后出院.继续口服泼尼松.8月初出现视物模糊.双眼视力明显下降.一眼0.8。一眼0.4。再次于武汉同济医院就诊.行视神经MRI.考虑视神经脊髓炎.加用他克莫司口服.视物好转.5天前出现头晕.呕吐.发作时有行走不稳.于云梦县人民医院就诊.行头颈部MRI于左侧脑桥背侧出现病灶.考虑多发性硬化可能.给予改善循环营养神经后症状好转.泼尼松.他克莫司仍在继续口服.请问徐教授我妹妹考虑什么病可能性最大.是多发性硬化吗？还需要做哪些检查？进一步怎么治疗？预后怎么样？谢谢徐教授。下面是5月份以及现在MRI图片。谢谢徐教授百忙之予以关注。能否去北京到您哪就诊.如何联系？谢谢。</p>
                    <span>44人看过</span>
                </a>
                <a class="item" href="../ama/index.html#/explore/issue/56829" onclick="ga('send', 'event', 'pcweb_profile', 'click', 'q_56829')">
                    <p>本人女，47岁，年轻的时候因例假不正常吃了很多止血的西药，2008年下肢静脉栓塞住院治疗，吃了一段时间的华法林和拜阿斯匹林，感觉好了就自己停药，2009年脑出血做了手术，后又脑梗住院治疗。现在就一直吃拜阿斯匹林，近期有皮肤出现青紫现象，现在就隔天吃一粒，这样可以的吗？</p>
                    <span>6人看过</span>
                </a>
                <a class="item" href="../ama/index.html#/explore/issue/35519" onclick="ga('send', 'event', 'pcweb_profile', 'click', 'q_35519')">
                    <p>四川的一位丁香园神经科网友跟我讨论：针对慢性酒精中毒所致的韦尼克脑病，看到有一篇文献摘要（原文没找到）给的用药方案——盐酸美金刚联用盐酸多奈哌齐片（应属超说明书用药吧？），用以改善认知，临床上也确实有效。
                        据说机理是提高患者受损脑内突触间乙酰胆碱浓度，我不关注业务多年，希望您能提供关于盐酸美金刚联用盐酸多奈哌齐在临床尤其是在韦尼克脑病治疗领域应用的概况和作用机理介绍，好让这位站友不再疑惑。</p>
                    <span>31人看过</span>
                </a>
                <a class="item" href="../ama/index.html#/explore/issue/31448" onclick="ga('send', 'event', 'pcweb_profile', 'click', 'q_31448')">
                    <p>我父亲，今年五十三岁，有二十一年的高血压病史，一直吃药控制，在2013年2月份，因为走路上突然发晕，去医院检查后发现脑部有多处脑梗，只能保守治疗，医院给打了针然后开了丁苯酞，几天后感到好转就出院了，后期也一直在吃降压药和丁苯酞控制，中途做过几次检查，血管没有好转，但是也不敢做支架，因为堵的部位太多，只能自己调理控制，到今年8.16号，中午午休时突然中风，送往最近的411医院救治打了溶栓，当时已不能说话右半身失去知觉，但是能感到有意识，溶栓后开始处于昏迷状态，医生说溶栓效果不佳，中途发过癫痫，然后呕吐三次，血压升到200多，做了头部CT发现脑干肿大迂回基本看不见，人开始进入深度昏迷状态，医生建议赶紧进行开颅降压手术保命，凌晨三点开始手术，医生取掉两块头骨释放压力，手术出来后，医生说预后效果不佳，让我们做好思想准备，随时有生命危险，现在重症监护室，颅压38，血压正常，生命体征还算稳定，想问医生现在我们能做些什么，还有医院的处理方式是否正确，现在针对他这种情况有没更好的治疗方案和药物，谢谢！！！！！</p>
                    <span>239人看过</span>
                </a>
                <a class="item" href="../ama/index.html#/explore/issue/24894" onclick="ga('send', 'event', 'pcweb_profile', 'click', 'q_24894')">
                    <p>徐医生好！我母亲79岁，于4年前脑梗死后至今半身瘫痪。有房颤、冠状动脉粥样硬化性心脏病、心房扑动、2型糖尿病及右侧颈内动脉闭塞。现在用药二甲双胍和阿司匹林晚上各1片还有倍他乐克1/2片、呋塞米半片/日、螺内酯1片/日、拜糖平2片/日、地高辛1/4片/日。母亲最近双腿由膝盖开始肿得硬邦邦的，不知什么原因（年轻时经常是脚肿）。请问您母亲的利尿剂需要长期吃下去吗？以上用药有不合理的吗？最有什么可能导致她双腿浮肿严重？期盼得到您的指点和建议。附上最近一次住院记录，谢谢。</p>
                    <span>95人看过</span>
                </a>
                <a class="item" href="../ama/index.html#/explore/issue/14742" onclick="ga('send', 'event', 'pcweb_profile', 'click', 'q_14742')">
                    <p>40年的顽疾无可奈何，十分痛苦，今日求诊，不胜感激。疲惫极度乏力，嗜睡伴短气脑力下降健忘40年，反复发作。经多次体檢，各组织气官均正常，唯二十年前作C丅发现后脑勺有大块阴影（国内和美国医生读片均无结果，后经省精神病院门诊医生初步诊为：嗜眠过多症，遂服短时间麻黄礆片，初服二片有效，但服至一星期要增至八片仍无效（耐药），试用能量及参芪䃼品均无效（记得小时上初中时因粮食困难时期营养极度不良患了全自浮肿伴脚气时此病这随之发生）
                        我巳厌惯各项体檢，就想再就良医赐我良方良药，即使能暂时起效，亦将感恩重报，对于再进一歩檢查已失信心，因我巳70高龄，只求一药即用，不畏付作用，倾听悉便，大恩不忘矣！。      阮克昌叩首，勿辞，并致金安
                        2016-07-16 21:54</p>
                    <span>486人看过</span>
                </a>
                <a class="item" href="../ama/index.html#/explore/issue/13612" onclick="ga('send', 'event', 'pcweb_profile', 'click', 'q_13612')">
                    <p>女性，34岁，两年前发现至今，每天早晨刚起床头昏昏沉沉，双眼轻微充血，右眼会比左眼大很多并略微外凸，起床后十几分钟开始缓解，一小时后双眼恢复到一样大小。未做过检查，麻烦徐大夫看看，是什么原因引起的，是否需要去医院做相关检查呢？以下是我的基本身体状况：无家族病史，长期白细胞低于正常值，检查不出原因，经常手指和脚趾疼痛伴有晨僵现象（右手右脚比左手左脚疼痛更明显），已检查排除类风湿。</p>
                    <span>81人看过</span>
                </a>
                <a class="item" href="../ama/index.html#/explore/issue/6239" onclick="ga('send', 'event', 'pcweb_profile', 'click', 'q_6239')">
                    <p>我32岁，177，180斤，高血压16年，有家族史，目前吃奥美沙坦氨氯地平各一片，富马酸比索洛尔半片，血压135/80左右，傍晚会再高一点，活动后也会达到145左右。去年枕部疼查了脑核磁和头颈增强ct，结果未见明显异常。但是现在后脑还是不舒服发涨，偶尔疼，偶尔还会出现右手肌肉发紧，舌头发紧的情况，不知有没有关系。担心脑出血，请您解答一下，可能性大吗？毕竟这么多年病史了。cta没事就没事吗？</p>
                    <span>113人看过</span>
                </a>
                <a class="item" href="../ama/index.html#/explore/issue/3474" onclick="ga('send', 'event', 'pcweb_profile', 'click', 'q_3474')">
                    <p>女性，34岁，有过脑卒中病史，目前血压、血脂、血糖及体质指数均正常，当时左侧肢体偏瘫。经康复治疗后好转。现在下肢肌力正常，左侧小脚趾偶有麻木感。左上肢精细动作稍差。现在应该怎么治疗。</p>
                    <span>144人看过</span>
                </a>
            </div>
            <div class="page_item" id="j_showAll">
                <span>点击加载全部</span>
            </div>
        </section>
    </div>

    <div class="button_wp">
        <button class="button button__ask j-askDoctor" onclick="ga('send', 'event', 'pcweb_profile', 'click', 'ask_down')">向该医生提问</button>
    </div>

</main>
<!--登录弹出框浮层-->
<div id="j_loginDialog"></div>



<script src="https://assets.dxycdn.com/gitrepo/ask-seo/dist/js/main.min.js?t=1514344883593" charset="utf-8"></script>

<script>

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){

        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),

        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)

    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-78271748-1', 'auto');

    ga('send', 'pageview');

</script>

</body>
</html>