{include file="public/header" /}
<style type="text/css">
    .laytable-cell,
    .laytable-cell-1-pic,
    .laytable-cell-2-pic,
    .laytable-cell-3-pic,
    .laytable-cell-4-pic,
    .laytable-cell-5-pic,
    .laytable-cell-6-pic,
    .laytable-cell-7-pic,
    .laytable-cell-8-pic,
    .laytable-cell-9-pic,
    .laytable-cell-10-pic { /*图片样式*/
        height: 100%;
        max-width: 100%;
    }
</style>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>{$leibie}列表</h5>

        </div>
        <div class="ibox-content">
            <!--搜索框开始-->
            <div class="demoTable" style="display: none;">
                服务类型：
                <div class="layui-inline">
                    <input class="layui-input" name="type" id="type" autocomplete="true">
                </div>

                服务设施：
                <div class="layui-inline">
                    <input class="layui-input" name="title" id="title" autocomplete="true">
                </div>
                <button class="layui-btn" data-type="reload">搜索</button>
            </div>
            <!--搜索框结束-->
            <div class="hr-line-dashed"></div>
            <div class="example-wrap">
                <div class="example">
                    <button class="layui-btn layui-btn-sm" data-type="editSelecteds"><i
                            class="layui-icon">&#xe654;</i>批量审核通过
                    </button>
                    <button class="layui-btn layui-btn-danger layui-btn-sm" data-type="deleteSelecteds"><i
                            class="layui-icon">&#xe640;</i>删除
                    </button>

                    <table id="list" lay-filter="question"></table>
                    <script type="text/html" id="barDemo">
                        <a class="layui-btn layui-btn-xs" lay-event="edit">查看</a>
                        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                    </script>
                </div>
            </div>
            <!-- End Example Pagination -->
        </div>
    </div>
</div>
<!-- End Panel Other -->


<!-- 加载动画 -->


{include file="public/footer" /}

<!--状态的模板-->
<script type="text/html" id="statusTpl">
    {{# if(d.status==1){ }}
    <a href="javascript:;" onclick="service_status({{d.id}});">
        <div id="zt{{d.id}}"><span class="label label-info">开启</span></div>
    </a>
    {{# }else{ }}
    <a href="javascript:;" onclick="service_status({{d.id}});">
        <div id="zt{{d.id}}"><span class="label label-danger">禁用</span></div>
    </a>
    {{# } }}
</script>
<!--状态的模板-->


<script type="text/javascript">
    layui.use('table', function () {
        var table = layui.table;

        table.render({
            elem: '#list'
            , url: '/admin/comment/getlist'
            , cols: [[
                {type: 'checkbox'}
                , {field: 'title', title: '图片标题',  align: 'center',   sort: true, unresize: false}
                , {field: 'note', title: '评论内容', event:'note', align: 'center', width: '36%', sort: true , unresize: false}
                , {field: 'dt', title: '提问时间', align: 'center', sort: true , unresize: false}
                , {field: 'username', title: '评论者',  align: 'center', sort: true , unresize: false}
                // , {field: 'istead', title: '是否回答', width:100, align: 'center', sort: true , unresize: false}
                ,{field: 'status', title: '状态', width:90, templet:statusTpl, align: 'center', sort: true , unresize: false}
                ,{title: '操作', width: '12%', align: 'center', toolbar: '#barDemo'}
            ]]
            ,limit:20
            ,id: 'listReload'//会员列表重载
            ,page: true
        });

        <!--户型列表重载-->
        var $ = layui.$, active = {
            /**新增页面**/
            add:function () {
               location.href="{:url('Question/add')}";
            },
            /**修改选中的数据**/
            editSelecteds: function () { //获取选中数据
                var checkStatus = table.checkStatus('listReload')
                    , data = checkStatus.data;
                var ids = "";
                for (var i = 0; i < data.length; i++) {
                    var val = data[i].qid;//值   zzy记得修改字段
                    if (ids.length > 0) {
                        ids += ',';
                    }
                    ids += val;
                }
                if (data.length > 0) {
                    lunhui.edits(ids, '{:url("editSelecteds")}');
                } else {
                    layer.msg('请选中需要修改的数据', {icon: 0, time: 1500}, function (index) {
                        layer.close(index);
                    });
                }
            },
            /**删除选中的数据**/
            deleteSelecteds: function () { //获取选中数据
                var checkStatus = table.checkStatus('listReload')
                    , data = checkStatus.data;
                var ids = "";
                for (var i = 0; i < data.length; i++) {
                    var val = data[i].id;//值   zzy记得修改字段
                    if (ids.length > 0) {
                        ids += ',';
                    }
                    ids += val;
                }
                if (data.length > 0) {
                    lunhui.deletes(ids, '{:url("delSelecteds")}');
                } else {
                    layer.msg('请选中需要删除的数据', {icon: 0, time: 1500}, function (index) {
                        layer.close(index);
                    });
                }
            }
        };

        $('.demoTable .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
        <!--会员列表重载-->

        <!--增删改查的操作-->
        $('.example .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
        <!--增删改查的操作-->

        //监听工具条
        table.on('tool(question)', function (obj) {
            var data = obj.data;

            if (obj.event === 'note') {
                layer.prompt({
                    formType: 2
                    , note: '修改note'
                    , value: data.note
                }, function (value, index) {
                    layer.close(index);

                    //这里一般是发送修改的Ajax请求
                    $.ajax({
                        type: 'POST',
                        url: "./edit", // ajax请求路径
                        data: {
                            id: data.id,
                            note: value
                        },
                        dataType: 'json',
                        success: function (data) {
                            //调用弹窗显示信息
                            layer.msg(data['msg']);

                            if (data.code == 1) {

                                //同步更新表格和缓存对应的值
                                obj.update({
                                    note: value
                                });

                            }

                        }

                    });

                });
            }

            if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    obj.del();
                    del_service(obj.data.id);
                    layer.close(index);
                });
            }else if(obj.event === 'edit'){
                //只需要传图片的id和当前评论者的id  ;users 权限为2
                // location.href = '/home/index/wtshow?id='+obj.data.manid+'&users=2&qid='+obj.data.qid;
                location.href = '/home/index/photoshow?id='+obj.data.userid+'&users=2&qid='+obj.data.photoid;
                // location.href = './edit/id/'+obj.data.qid+'.html';
            }
        });

    });


    //删除服务设施
    function del_service(id) {
        lunhui.delete(id, '{:url("del")}');
    }

    //服务的状态
    function service_status(id) {
        lunhui.status(id, '{:url("status")}');
    }

</script>

</body>
</html>